body {
    background: rgb(25, 125, 206);
  }
header {
  animation-name: fadebounce;
  animation-duration: 2.5s;
  position: relative;
  background-color: rgb(25, 125,206);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-weight: unset;
  font-size: 75px;  
  text-align: center;
  width: 1500px;
  height: 350px;
  margin-bottom: 30px;
  padding-top: 30px;

  }
/* Bounce Animation */
@keyframes fadebounce {
  0% {
    opacity: 0;
    transform: translate(-200%);
  }
  40% {
    opacity: 1;
    transform: translate(0);
  }
  55% {
    transform: translate(-15px);
  }
  70% {
    transform: translate(0);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
/* End Bounce Animation */


img {
  margin-top: 40px;
  margin-left: auto;
  margin-right: 20px;
  position: fixed;
}