body {
    background: #ffffff;
  }
header {
  animation-name: fadebounce;
  animation-duration: 2.5s;
  position: relative;
  background-color: rgb(25, 125,206);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-weight: unset;
  font-size: 75px;  
  text-align: center;
  width: 1500px;
  height: 120px;
  margin-bottom: 40px;
  padding-top: 40px;

  }
/* Bounce Animation */
@keyframes fadebounce {
  0% {
    opacity: 0;
    transform: translate(-200%);
  }
  40% {
    opacity: 1;
    transform: translate(0);
  }
  55% {
    transform: translate(-15px);
  }
  70% {
    transform: translate(0);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
/* End Bounce Animation */

section#camimage {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
  background-color: rgb(255, 127, 227);
  margin: 0;
  padding: 0;
  }
